* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;	
}

body {
	font-family: arial;
    background-color: #F8EADC;
}

main {    
    width: 90%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    text-align: center;
    color: #75B5BB;
}

.add-note {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    padding: 1rem;
}

.add-note div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-note input, .add-note textarea {
    border: 2px solid #CCC8C4;
    border-radius: 4px;
    width: 100%;
    padding: 0.25rem;
}

.add-note button {
    background-color: #75B5BB;
    padding: 12px 0;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 8px;
}

